<div class="container">
    <div class="col-lg-12">
        <div class="row">

            <div class="col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Django: Rest API</h5>
                        <a href="/api/" class="btn btn-outline-primary" target="_blank">View</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Django: Rest Swagger</h5>
                        <a href="/swagger/" class="btn btn-outline-primary" target="_blank">View</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Django: Admin panel</h5>
                        <a href="/settings/" class="btn btn-outline-primary" target="_blank">View</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="col-lg-12">
        <div class="row">

            <div class="col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Git: this repository</h5>
                        <a href="https://github.com/AK-by/rest-api" class="btn btn-outline-primary" target="_blank">View</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Diploma: Service desk</h5>
                        <a href="/service-desk/" class="btn btn-outline-primary" target="_blank">View</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>