{% load static %}

<!DOCTYPE html>
<html lang="en"
      data-layout="topnav"
      data-bs-theme="light"
      data-layout-mode="fluid"
      data-menu-color="dark"
      data-topbar-color="light"
      data-layout-position="fixed"
      data-sidenav-size="default">
<head>
    {% include 'partials/top-head.html' %}
</head>
<body>
    <div class="wrapper">
        {% include 'partials/top-bar.html' %}
        {% include 'partials/top-menu.html' %}
        {% include 'partials/top-breadcrumb-title.html' %}
        {% include 'partials/page-content.html' %}
    </div>
    {% include 'partials/footer-scripts.html' %}
</body>
</html>